asgiref==3.5.2
bcrypt==3.2.2
certifi==2022.5.18.1
cffi==1.15.0
Django==4.0.5
django-cors-headers==3.13.0
djangorestframework==3.13.1
djangorestframework-jwt==1.11.0
mysqlclient==2.1.0
pycparser==2.21
PyJWT==1.7.1
PyMySQL==1.0.2
pytz==2022.1
sqlparse==0.4.2
